---
import { Image } from "astro:assets";
import PrimaryButton from "../common/Primary_Button.astro";
import SecondaryButton from "../common/Secondary_Button.astro";
import placeholder from "../../../public/placeholder.svg";
---

<header>
    <Image src={placeholder} alt="title" class="hero-image" />
    <div class="container">
        <h1>Etiam venenatis metus eu neque iaculis interdum.</h1>
        <p>
            Cras in luctus sem. Ut ac venenatis eros, a pretium est. Nunc
            malesuada magna eu convallis commodo. Suspendisse erat velit, luctus
            sed velit ac, malesuada mollis sapien.
        </p>
        <div class="cta-buttons">
            <SecondaryButton link="tel:" text="Call Us" icon="" />
            <PrimaryButton link="/contact" text="Contact Us" icon="" />
        </div>
    </div>
</header>

<style>
    header {
        position: relative;
    }
    .hero-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        font-size: 3em;
    }

    .cta-buttons {
        display: flex;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        h1 {
            width: 75%;
        }
        p {
            width: 80%;
        }
        .container {
            gap: 3rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            gap: 4rem;
        }
        h1,
        p {
            max-width: 600px;
        }
    }
</style>
