---
import submitIcon from "@icons/submit-icon.svg";
import { Image } from "astro:assets";
---

<form name="contact" method="POST" data-netlify="true">
    <div class="input-area">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
    </div>

    <div class="input-area">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div class="input-area">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" required />
    </div>

    <div class="input-area">
        <label for="message">Message</label>
        <textarea rows="12" name="message" id="message" required></textarea>
    </div>

    <button> <Image src={submitIcon} alt="submit form" />Submit</button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .input-area {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    input,
    textarea {
        font-size: 1em;
        padding: 0.5rem;
        font-family: "paragraph";
        border: 0px;
        border-radius: 16px;
    }

    button {
        width: fit-content;
        padding: 0.5rem 1rem;
        background-color: var(--red);
        border-radius: 2rem;
        border: 0px;
        color: white;
        font-family: "paragraph";
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
        transition: all 0.25s ease;
    }

    button:hover {
        cursor: pointer;
        background-color: #9f2323;
        border-radius: 1rem;
    }
</style>
