---
import { Image } from "astro:assets";

const { icon, text, link } = Astro.props;
---

<a href={link}>
    {icon && <Image src={icon} alt={text} />}
    {text}
</a>

<style>
    a {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem 1.2rem;
        background-color: var(--red);
        border-radius: 2rem;
        color: white;
        text-decoration: none;
    }
</style>
