---
import { Image } from "astro:assets";

const { icon, text, link } = Astro.props;
---

<a href={link}>
    {icon && <Image src={icon} alt={text} />}
    {text}
</a>

<style>
    a {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: inherit;
        border: 1px solid var(--red);
        padding: 0.5rem 1.2rem;
        border-radius: 2rem;
        text-decoration: none;
        color: var(--text-purple);
        transition: all 0.25s ease;
    }
    a:hover {
        background-color: #ffffff;
        border-radius: 1rem;
    }
</style>
