---
import SecondaryButton from "./Secondary_Button.astro";
import PrimaryButton from "./Primary_Button.astro";
import callIcon from "@icons/phone.svg";
import messageIcon from "@icons/calandar-icon.svg";

const { title, text } = Astro.props;
---

<section>
    <div class="container">
        <h1>{title}</h1>
        <p>{text}</p>
        <div class="cta-buttons">
            <SecondaryButton
                link="tel:0413 470 368"
                text="Call Now"
                icon={callIcon}
            />
            <PrimaryButton
                link="/contact-wallys-workshop/#contact-form"
                text="Get a quote"
                icon={messageIcon}
            />
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--purple);
        color: white;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        color: white;
        font-size: 2.25em;
    }
    .cta-buttons {
        display: flex;
        gap: 1rem;
    }
    @media (min-width: 1024px) {
        h1 {
            width: 75%;
        }
        p {
            width: 80%;
        }
    }

    @media (min-width: 1024px) {
        h1,
        p {
            width: 600px;
        }
        .container {
            gap: 4rem;
        }
    }
</style>
